{{page-title "Airtable"}}

<!--<h1> Welcome to Ember </h1>-->
<!--<a href="/scientists"> scientists</a>-->
<!--<a href="/programmers"> programmers</a>-->
<!--<a href="/airtable/1"> Air Table</a>-->
{{outlet}}